#heading{
    color: red;
}

.heading{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    background-color: #FF5200;
    
}

.logo{
    padding-left: 60px;
    width : 120px;
    margin-top: 5px;
}

.nav-bars{
    padding: 0px 20px;
}

.nav-bars > ul{
    
    display: flex;
    list-style: none;
    font-size: 24;
    justify-items: center;
    color: white;
    

}

.nav-bars > ul >li{
    padding: 20px;
    margin: 10px;

    font-weight: bold;
}

.search{

    align-items :center;

    display: flex;
   
    justify-content: center;
    padding-left: 20px;
    border: 2px solid black;
   
}
.search-text{
    height: 40px;
    width: 400px;
    font-size: 20px;

    margin-right: 30px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    background-color:whitesmoke;
    width: 300px;
    margin-top: 10px;
    /* position: absolute; */
    margin-left: 20px;
    border: 2px solid  white;
    border-radius: 10px;

}

.res-card:hover{
    background-color:wheat;
    /* border: 2px solid orangered; */
    border-radius: 20px;
  
}
.card-img{
    border-radius: 40px;
    width: 280px;
   padding: 10px;
   height: 230px;

}

.dish-info {
    padding: 10px;
}




.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    background-color:#f0f0f0 ;
    width: 300px;
    margin-top: 10px;
    /* position: absolute; */
    margin-left: 20px;
    border: 2px solid  white;
    border-radius: 10px;
    height: 500px;

}

.f-container{
    margin-top: 20px;
    background-color:#FF5200;
    width: 100%;
    height: 100px;
}

